.loading {
  margin: 25% auto;
  border: 9px solid #a6a6a6;
  border-radius: 50%;
  border-top: 9px solid #a6a6a6;
  border-bottom: 9px solid #f2f2f2;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}